Jest/system
Jest/config
Jest/.idea/workspace.xml
Jest/.idea/shelf
Jest/.mps/workspace.xml
Jest/.mps/shelf
Jest/build/solution/.idea/workspace.xml
Jest/MPSPlugin/.idea/workspace.xml
Jest/MPSPlugin/apiclasses
Jest/build/tmp/
Jest/contrib/build/tmp/
Jest/build/artifacts/
Jest/contrib/build/artifacts/
Jest/build/resources/help/
Jest/build/resources/JDK/
Jest/classes
Jest/sources_gen/
Jest/classes_gen/
Jest/.mps
Jest/testclasses
Jest/*.iws
Jest/teamcity-info.xml
Jest*.hprof
Jest*.class
Jest/plugins/debugger-api/lib
Jest/plugins/debugger-java/lib
Jest/plugins/mpsjava/lib/
Jest/plugins/mps-java-workbench/lib/
Jest/plugins/execution-languages/lib
Jest/plugins/execution-configurations/lib
Jest/plugins/mps-execution-deprecated/lib
Jest/plugins/jetpad/lib
Jest/plugins/jetpad/lib/*.war
Jest/plugins/jetpad/lib/jetpadBuildNumber.txt
Jest/plugins/cvsIntegration/lib
Jest/plugins/git4idea/lib
Jest/plugins/svn4idea/lib
Jest/plugins/mps-testing/lib
Jest/plugins/terminal
Jest/lib/
Jest/mps-platform.zip
Jest/bin/linux
Jest/bin/mac
Jest/bin/win
Jest/build/dependencies
Jest/build/resources/mps
Jest/.DS_Store
